parameters:
    ignoreErrors:
        -
            message: '#Trait Hasyirin\\KPI\\Concerns\\InteractsWithMovement is used zero times and is not analysed\.#'
            identifier: trait.unused
            path: src/Concerns/InteractsWithMovement.php
